<template>
  <div class="auth-layout-wrap" :style="{ backgroundImage: 'url(' + bgImage + ')' }">
    <div class="auth-content">
      <div class="card o-hidden">
        <div class="row">
          <div class="col-md-12">
            <div class="p-4">
              <h1 class="text-center text-25 mb-30 text-uppercase">
                Authentication
              </h1>
              <b-form @submit.prevent="formSubmit">
                <b-form-input
                  class="form-control-rounded mb-8"
                  type="text"
                  v-model="email"
                  placeholder="Username"
                  size="lg"
                ></b-form-input>

                <b-form-input
                  class="form-control-rounded mb-16"
                  type="password"
                  placeholder="Password"
                  size="lg"
                  v-model="password">
                </b-form-input>
                <b-row>
                  <b-col md="6">
                    <b-button
                      to="signUp"
                      block
                      variant="outline-primary mt-2"
                      class="btn-rounded"
                    >Create an account</b-button>
                  </b-col>
                  <b-col md="6">
                    <b-button
                    type="submit"
                    tag="button"
                    class="btn-rounded btn-block mt-2"
                    variant="primary mt-2"
                    :disabled="loading"
                    >Sign In</b-button>
                    <div v-once class="typo__p" v-if="loading">
                      <div class="spinner sm spinner-primary mt-3"></div>
                    </div>
                  </b-col>
                </b-row>

              </b-form>

              <div class="mt-24 text-center">
                <router-link to="forgot" tag="a" class="text-muted">
                  <u>Forgot Password?</u>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: "SignIn",
  },
  data() {
    return {
      email: "",
      password: "",
      // bgImage: require("@/assets/images/photo-wide-4.jpg"),
      bgImage: 'https://i.pinimg.com/originals/85/6f/31/856f31d9f475501c7552c97dbe727319.jpg',
      logo: require("@/assets/images/logo.png"),
      signInImage: require("@/assets/images/photo-long-3.jpg"),
    };
  },

  methods: {
    formSubmit() {
      this.$router.push('/app/pages/list')
    },
  },
};
</script>

<style>
.spinner.sm {
  height: 2em;
  width: 2em;
}
</style>
