<template>
  <div class="main-content">
    <h1
      class="text-25 text-primary">
      Connection Status
    </h1>
    <hr class="mt-4">
    <b-row>
      <b-col md="12" xl="12" lg="12">
        <b-card header-bg-variant="transparent" class="mb-30">
          <b-row>
            <b-col lg="3" xl="3">
              <div class="ul-pricing__table-1 mb-4">
                <div class="ul-pricing__image card-icon-bg-primary mb-48">
                  <img
                  src="https://upload.wikimedia.org/wikipedia/th/8/8b/TOT_LOGO.png" width="150">
                </div>
                <div class="ul-pricing__title">
                  <h1 class="heading text-danger t-font-boldest">
                    <i class="i-Danger"></i>
                  </h1>
                </div>
                <div class="ul-pricing__table-listing mb-4">
                  <ul>
                    <li class="t-font-bolder text-16">
                      Status: <span class="t-font-bold text-danger">Down</span>
                    </li>
                    <li class="t-font-bolder text-16">
                      Time: <span class="t-font-bold text-danger">2020-10-01 13:25:05</span>
                    </li>
                    <li class="t-font-bolder text-16">
                      Duration:
                      <span class="t-font-bold text-danger">50 Mins</span>
                    </li>
                  </ul>
                  <b-row class="mt-24 text-mute">
                    <b-col md="12 mb-1">
                      <i class="i-Down-3"></i> Download 935.08 Mbps
                    </b-col>
                    <b-col md="12">
                      <i class="i-Up-3"></i> Upload 515.94 Mbps
                    </b-col>
                  </b-row>
                </div>
              </div>
            </b-col>
            <b-col lg="3" xl="3">
              <div class="ul-pricing__table-1 mb-4">
                <div class="ul-pricing__image card-icon-bg-primary mb-48">
                  <img
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Advanced_Info_Service_logo.svg/1200px-Advanced_Info_Service_logo.svg.png" width="150">
                </div>
                <div class="ul-pricing__title">
                  <h1 class="heading text-success t-font-boldest">
                    <i class="i-Yes"></i>
                  </h1>
                </div>
                <div class="ul-pricing__table-listing mb-4">
                  <ul>
                    <li class="t-font-bolder text-16">
                      Status: <span class="t-font-bold text-success">Up</span>
                    </li>
                    <li class="t-font-bolder text-16">
                      Time: <span class="t-font-bold text-success">2020-10-01 13:25:05</span>
                    </li>
                    <li class="t-font-bolder text-16">
                      Duration:
                      <span class="t-font-bold text-success">50 Mins</span>
                    </li>
                  </ul>
                  <b-row class="mt-24 text-mute">
                    <b-col md="12 mb-1">
                      <i class="i-Down-3"></i> Download 935.08 Mbps
                    </b-col>
                    <b-col md="12">
                      <i class="i-Up-3"></i> Upload 515.94 Mbps
                    </b-col>
                  </b-row>
                </div>
              </div>
            </b-col>
            <b-col lg="3" xl="3">
              <div class="ul-pricing__table-1 mb-4">
                <div class="ul-pricing__image card-icon-bg-primary mb-48">
                  <img
                    src="https://seeklogo.com/images/D/Dtac-logo-DB5F43B6C3-seeklogo.com.png" width="120" height="60">
                </div>
                <div class="ul-pricing__title">
                  <h1 class="heading text-success t-font-boldest">
                    <i class="i-Yes"></i>
                  </h1>
                </div>
                <div class="ul-pricing__table-listing mb-4">
                  <ul>
                    <li class="t-font-bolder text-16">
                      Status: <span class="t-font-bold text-success">Up</span>
                    </li>
                    <li class="t-font-bolder text-16">
                      Time: <span class="t-font-bold text-success">2020-10-01 13:25:05</span>
                    </li>
                    <li class="t-font-bolder text-16">
                      Duration:
                      <span class="t-font-bold text-success">50 Mins</span>
                    </li>
                  </ul>
                  <b-row class="mt-24 text-mute">
                    <b-col md="12 mb-1">
                      <i class="i-Down-3"></i> Download 935.08 Mbps
                    </b-col>
                    <b-col md="12">
                      <i class="i-Up-3"></i> Upload 515.94 Mbps
                    </b-col>
                  </b-row>
                </div>
              </div>
            </b-col>
            <b-col lg="3" xl="3">
              <div class="ul-pricing__table-1 border-right-0 mb-4">
                <div class="ul-pricing__image card-icon-bg-primary mb-48">
                  <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/True_Corporation_%28Thailand%29.svg/1200px-True_Corporation_%28Thailand%29.svg.png" width="130">
                </div>
                <div class="ul-pricing__title">
                  <h1 class="heading text-success t-font-boldest">
                    <i class="i-Yes"></i>
                  </h1>
                </div>
                <div class="ul-pricing__table-listing mb-4">
                  <ul>
                    <li class="t-font-bolder text-16">
                      Status: <span class="t-font-bold text-success">Up</span>
                    </li>
                    <li class="t-font-bolder text-16">
                      Time: <span class="t-font-bold text-success">2020-10-01 13:25:05</span>
                    </li>
                    <li class="t-font-bolder text-16">
                      Duration:
                      <span class="t-font-bold text-success">50 Mins</span>
                    </li>
                  </ul>
                  <b-row class="mt-24 text-mute">
                    <b-col md="12 mb-1">
                      <i class="i-Down-3"></i> Download 935.08 Mbps
                    </b-col>
                    <b-col md="12">
                      <i class="i-Up-3"></i> Upload 515.94 Mbps
                    </b-col>
                  </b-row>
                </div>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>