<template>
  <div class="main-content">
    <h1
      class="text-25 text-primary">
      Users Entry
    </h1>
    <hr class="mt-4">
    <b-row>
      <b-col md="12 mb-30">
        <b-card>
          <b-form>
            <b-row>
              <b-form-group
                class="col-md-12 mb-3"
                label="รายการ"
                label-for="input-1"
              >
                <b-form-input
                  v-model="form.fName"
                  type="text"
                  required
                  placeholder="รายการ"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                class="col-md-6 mb-3"

                label="Ref 1"
                label-for="input-1"
              >
                <b-form-input

                  v-model="form.lName"
                  type="text"
                  required
                  placeholder="Ref 1"
                ></b-form-input>
              </b-form-group>

              <b-form-group
                label="หมวดหมู่"
                label-for="input-1"
                class="col-md-6">
                <b-form-select
                  v-model="selected1"
                  :options="options1"
                  id="inline-form-custom-select-pref1"
                >
                </b-form-select>
              </b-form-group>

              <b-form-group
                class="col-md-6 mb-3"

                label="Ref 2"
                label-for="input-1"
              >
                <b-form-input

                  v-model="form.phone"
                  type="text"
                  required
                  placeholder="Ref 2"
                ></b-form-input>
              </b-form-group>

              <b-form-group  label="วันที่" label-for="input-1" class="col-md-6">
                <!-- <v-date-picker
                                v-model="date"
                />-->
                <b-form-input v-model="date" class="input" type="date"></b-form-input>
              </b-form-group>


              <b-col md="12" class="text-right">
                <b-button class="mt-3" type="submit" variant="primary">Submit</b-button>
              </b-col>
            </b-row>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: "Basic Forms"
  },
  data() {
    return {
        selected1:"x",
        options1:[
          { value: 'x', text: 'เลือกหมวดหมู่...' },
          { value: 'a', text: 'Hardward' },
          { value: 'b', text: 'Software' },
          { value: 'b', text: 'Tech' },
        ],
      date: '',
      form: {
        name: "",
        email: "",
        fName: "",
        lName: "",
        phone: ""
      },
      selected: "first",
      options: [
        { text: "First radio", value: "first" },
        { text: "Second radio", value: "second" },
        { text: "Third radio", value: "third" }
      ]
    };
  }
};
</script>
