<template>
  <div class="main-content">
    <h1
      class="text-25 text-primary">
      รายการข้อมูลที่นำเข้าระบบ (ทั้งหมด {{ rows.length }} รายการ)
    </h1>
    <hr class="mt-4">
    <b-card class="wrapper">
      <vue-good-table
        :columns="columns"
        :search-options="{
          enabled: true,
          placeholder: 'Search this table'
        }"
        :pagination-options="{
          enabled: true,
          mode: 'records'
        }"
        styleClass="tableOne vgt-table"
        :rows="rows"
      >
        <template slot="table-row" slot-scope="props">
          <span v-if="props.column.field == 'img'">
            <img
              class="rounded"
              :src="props.row.img"
              style="width:50px ; height:50px"
              alt="corrupted img"
            />
          </span>
        </template>
      </vue-good-table>
    </b-card>
  </div>
</template>

<script>
export default {
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: "Filter Table"
  },
  data() {
    return {
      columns: [
        {
          label: "",
          field: "img",
          width: "150px",
          thClass: "gull-th-class"
        },
        {
          label: "รายการ",
          field: "span",
          html: true
        },
        {
          label: "หมวดหมู่",
          field: "category",
          html: true
        },
        {
          label: "Ref 1",
          field: "ref_1",
          html: true
        },
        {
          label: "Ref 2",
          field: "ref_2",
          html: true
        },
        {
          label: "วันที่",
          field: "createdAt",
          type: "date",
          dateInputFormat: "yyyy-mm-dd",
          dateOutputFormat: "MMM Do yy"
        },
        {
          label: "การจัดการ",
          field: "manage",
        }
      ],
      rows: [
        {
          id: 1,
          img: require("@/assets/images/products/speaker-1.jpg"),
          span:
            "Wireless Bluetooth V4.0 Portable Speaker with HD Sound and Bass",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',
          createdAt: "2019-10-29",
          manage: '-'
        },
        {
          id: 2,
          img: require("@/assets/images/products/speaker-2.jpg"),
          span: "Portable Speaker with HD Sound",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',
          createdAt: "2011-10-31",
          manage: '-'
        },
        {
          id: 3,
          img: require("@/assets/images/products/headphone-2.jpg"),
          span: "Lightweight On-Ear Headphones - Black",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',
          createdAt: "2011-10-30",
          manage: '-'
        },
        {
          id: 4,
          img: require("@/assets/images/products/watch-1.jpg"),
          span:
            "Automatic-self-wind mens Watch 5102PR-001 (Certified Pre-owned)",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',
          createdAt: "2011-10-11",
          manage: '-'
        },
        {
          id: 5,
          img: require("@/assets/images/products/watch-1.jpg"),
          span: "Automatic-self-wind mens Watch 5102PR-001",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',createdAt: "2011-10-21",
          manage: '-'
        },
        {
          id: 6,
          img: require("@/assets/images/products/headphone-3.jpg"),
          span: "On-Ear Headphones - Black",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',createdAt: "2011-10-31",
          manage: '-'
        },
        {
          id: 1,
          img: require("@/assets/images/products/headphone-4.jpg"),
          span: "In-Ear Headphone",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',createdAt: "2019-10-29",
          manage: '-'
        },
        {
          id: 2,
          img: require("@/assets/images/products/iphone-2.jpg"),
          span: "Duis exercitation nostrud anim",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',createdAt: "2011-10-31",
          manage: '-'
        },
        {
          id: 3,
          img: require("@/assets/images/products//headphone-2.jpg"),
          span: "Doasdlor eu nostrud excepteur",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',createdAt: "2011-10-30",
          manage: '-'
        },
        {
          id: 4,
          img: require("@/assets/images/products/headphone-1.jpg"),
          span:
            "Over-Ear Headphones, Stereo Lightweight Adjustable Wired Headset",
          category: 'Tech',
          ref_1: '-',
          ref_2: '-',createdAt: "2011-10-11",
          manage: '-'
        },
        {
          id: 5,
          img: require("@/assets/images/products/watch-1.jpg"),
          span:
            "Wireless Bluetooth V4.0 Portable Speaker with HD Sound and Bass",
          createdAt: "2011-10-21",
          manage: '-'
        },
        {
          id: 6,
          img: require("@/assets/images/products/headphone-2.jpg"),
          span: "Portable Speaker with HD Sound",
          createdAt: "2011-10-31",
          manage: '-'
        }
      ]
    };
  },
  methods: {
    addFile() {
      console.log("hello");
    }
  }
};
</script>
<style >
</style>
