<template>
  <div class="main-content">
    <h1
      class="text-25 text-primary">
      Upload Files Import
    </h1>
    <hr class="mt-4">
    <b-row>
      <b-col md="12" xl="12" lg="12">
        <b-card header-bg-variant="transparent" class="mb-30">
          <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
        </b-card>
      </b-col>
      <b-col md="12" class="text-right text-muted">
        Support file .CSV, .XLS, .XLSX
      </b-col>
    </b-row>
  </div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
export default {
  name: 'app',
  components: {
    vueDropzone: vue2Dropzone
  },
  data: function () {
    return {
      dropzoneOptions: {
          url: 'https://httpbin.org/post',
          thumbnailWidth: 150,
          maxFilesize: 0.5,
          headers: { "My-Awesome-Header": "header value" },
          dictDefaultMessage: "<h1><i class='i-Upload'></i></h1>UPLOAD"
      }
    }
  }
}
</script>